<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>ECSHOP 管理中心 - {$title} </title>
    <meta name="robots" content="noindex, nofollow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="__CSS__/general.css" rel="stylesheet" type="text/css"/>
    <link href="__CSS__/main.css" rel="stylesheet" type="text/css"/>
    <!--block name=CSS 位置-->
    <block name="CSS">
    </block>
</head>
<body>
<!--top-->
<h1>
    <span class="action-span"><a href="{:U('index')}">{:substr($title,6)}列表</a></span>
    <span class="action-span1"><a href="#">ECSHOP 管理中心</a></span>
    <span id="search_id" class="action-span1"> - {$title} </span>

    <div style="clear:both"></div>
</h1>
<!--top结束-->

<!--editcontent-->
<!--block name=content 位置-->
<block name="content">

</block>
<!--editcontent结束-->

<!--footer-->
<div id="footer">
    共执行 1 个查询，用时 0.018952 秒，Gzip 已禁用，内存占用 2.197 MB<br/>
    版权所有 &copy; 2005-2012 上海商派网络科技有限公司，并保留所有权利。
</div>
<!--footer结束-->

<script type="text/javascript" src="__JQUERY__/jquery-1.11.2.js"></script>
<script type="text/javascript" src="__LAYER__"></script>
<script type="text/javascript" src="__JS__/common.js"></script><!--加载的跳转提示框的功能,要用此功能,需在元素类中加上ajax_get或者ajax_post类-->
<!--block name=JS 位置-->
<block name="JS">
</block>
<script type="text/javascript">
    $(function () {
        //为单选框赋默认值
        $('.box').val([{$status|default =1}]);
    })
</script>
</body>
</html>